<%- include("partials/header"); -%>

  <h1><%=currentTitle%></h1>
  <p><%=currentContent%></p>
  <form class="" action="/delete" method="post">
    <button class="btn btn-primary" type="submit" name="button">Delete Blog</button>
  </form>


<%- include("partials/footer"); -%>
